body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    background-color: #FFF;
    background-image: url('../images/image-news/bg.png');
}

a {
    text-decoration: none;
}

.body-max {
    width: 1920px;
    max-width: 100%;
    margin: 0px auto;
}

.content-max {
    width: 1524px;
    max-width: 100%;
    margin: 0px auto;
}

.head {
    height: 159px;
    background-image: url('../images/image-news/bg-banner.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

.menu {
    height: 135px;
    position: relative;
}

    .menu img {
        position: absolute;
        left: 0px;
        top: 20px;
    }

    .menu .list-menu {
        position: absolute;
        height: 100%;
        right: 0px;
        width: auto;
    }

        .menu .list-menu a .item-menu {
            float: left;
            font-size: 19.49px;
            font-weight: bold;
            color: #000000;
            line-height: 210px;
            height: 135px;
            margin: 0px 10px;
            padding: 0px 20px;
            position: relative;
        }

            .menu .list-menu a .item-menu.active {
                background-color: rgba(0,0,0,0.2);
                color: #FFF;
            }

.tuvantructuyen {
    background-image: url('../images/image-news/bg-tuvantructuyen.png');
    background-position: center bottom;
    background-repeat: repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 23px;
}

    .tuvantructuyen .content-max {
        display: none;
    }

    .tuvantructuyen img {
        position: absolute;
        left: 0px;
        bottom: -110px;
        height: 210px;
    }

.doitac {
    height: 175px;
    background-color: #dbdada;
    background-image: url('../images/image-news/logo-doitac.png');
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

[panel-title] {
    position: relative;
    height: 103px;
}

    [panel-title]:before {
        content: " ";
        position: absolute;
        width: 103px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        left: 0px;
        top: 0px;
    }

[panel-title="dichvu"]:before {
    background-image: url('../images/image-news/bg-dichvu.png');
}

[panel-title="hotro"]:before {
    background-image: url('../images/image-news/bg-hotro.png');
}

[panel-title="tracnghiem"]:before {
    background-image: url('../images/image-news/bg-tracnghiem.png');
}

[panel-title="chuyengia"]:before {
    background-image: url('../images/image-news/bg-chuyengia.png');
}

[panel-title]:after {
    content: " ";
    position: absolute;
    width: calc(100% - 100px);
    border-bottom: 3px solid #fcb200;
    bottom: 7px;
    left: 100px;
}

[panel-title] span {
    position: absolute;
    left: 95px;
    height: 90px;
    top: calc(50% - 45px);
    padding-right: 100px;
    padding-left: 20px;
    font-size: 39.38px;
    color: #757575;
    font-weight: bold;
    line-height: 70px;
}

    [panel-title] span::before {
        content: " ";
        position: absolute;
        left: 0px;
        width: calc(100% - 99px);
        top: 0px;
        background-image: url('../images/image-news/bg-titlerep.png');
        z-index: -1;
        height: 100%;
    }

    [panel-title] span:after {
        content: " ";
        position: absolute;
        right: 0px;
        height: 100%;
        width: 99px;
        top: 0px;
        background-image: url('../images/image-news/bg-title-after.png');
        z-index: -1;
    }

.panel-dichvu {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
    text-align: justify;
}

    .panel-dichvu .item-dichvu {
        background-color: #FFF;
        padding: 20px;
        border-radius: 10px;
    }

        .panel-dichvu .item-dichvu .item-dichvu-img {
            height: 341px;
            width: 341px;
            max-height: 341px;
            background-position: center center;
            background-size: cover;
            background-color: #EEE;
            border-radius: 50%;
            margin: 20px auto;
            margin-bottom: 50px;
        }

        .panel-dichvu .item-dichvu .item-dichvu-title {
            color: #000;
            font-weight: bold;
            font-size: 30.4px;
            height: 70px;
            overflow: hidden;
        }

        .panel-dichvu .item-dichvu .item-dichvu-des {
            color: #000;
            font-weight: normal;
            font-size: 19.2px;
            margin: 20px 0px;
            height: 110px;
            overflow: hidden;
        }

        .panel-dichvu .item-dichvu .item-dichvu-link {
            text-align: right;
        }

            .panel-dichvu .item-dichvu .item-dichvu-link a {
                color: #ff6600;
                font-weight: normal;
                font-size: 16px;
                font-style: italic;
                text-align: right;
            }


.panel-hotro {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
    text-align: justify;
}

    .panel-hotro .item-hotro {
        background-color: #FFF;
        padding: 20px;
        border-radius: 10px;
    }

        .panel-hotro .item-hotro .item-hotro-img {
            height: 341px;
            width: 100%;
            max-height: 341px;
            background-position: center center;
            background-size: cover;
            background-color: #EEE;
            margin-bottom: 30px;
        }

        .panel-hotro .item-hotro .item-hotro-title {
            color: #ff6600;
            font-weight: bold;
            font-size: 30.4px;
            height: 70px;
            overflow: hidden;
        }

        .panel-hotro .item-hotro .item-hotro-des {
            color: #000;
            font-weight: normal;
            font-size: 19.2px;
            margin: 20px 0px;
            height: 110px;
            overflow: hidden;
        }

        .panel-hotro .item-hotro .item-hotro-link {
            text-align: right;
        }

            .panel-hotro .item-hotro .item-hotro-link a {
                color: #ff6600;
                font-weight: normal;
                font-size: 16px;
                font-style: italic;
                text-align: right;
            }

.panel-tracnghiem {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
    text-align: justify;
}

    .panel-tracnghiem .item-tracnghiem {
        padding: 20px;
        background-color: #FFF;
        border-radius: 10px;
    }

        .panel-tracnghiem .item-tracnghiem .item-tracnghiem-first {
            height: 200px;
            border-bottom: 2px solid #56c965;
            position: relative;
            overflow: hidden;
        }

            .panel-tracnghiem .item-tracnghiem .item-tracnghiem-first .item-tracnghiem-first-img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 10px solid #DDD;
                background-color: #DDD;
                position: absolute;
                display: block;
                left: 0px;
                top: calc(50% - 80px);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../images/image-news/bg-title-after.png);
            }

            .panel-tracnghiem .item-tracnghiem .item-tracnghiem-first .item-tracnghiem-first-content {
                margin-left: 165px;
                display: block;
                font-size: 19.2px;
                color: #333333;
            }

.item-tracnghiem-list {
}

    .item-tracnghiem-list .item-tracnghiem-list-item {
        position: relative;
        padding-left: 40px;
        line-height: 25px;
        margin-top: 20px;
        text-align: justify;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-tracnghiem-list a {
        color: #333;
    }

    .item-tracnghiem-list .item-tracnghiem-list-item:before {
        content: " ";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        background-color: #64c735;
        border: 4px solid #e1e1e1;
        border-radius: 50%;
    }


.panel-chuyengia {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
    text-align: justify;
}

    .panel-chuyengia .item-chuyengia {
        height: 465px;
        background-color: #FFF;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }

        .panel-chuyengia .item-chuyengia .item-chuyengia-head {
            height: 185px;
            width: 100%;
            background-color: #b1a599;
            left: 0px;
            top: 0px;
            position: absolute;
        }

            .panel-chuyengia .item-chuyengia .item-chuyengia-head .item-chuyengia-img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 10px solid #b1a599;
                background-color: #b1a599;
                position: absolute;
                display: block;
                left: 30px;
                top: calc(50% - 65px);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../images/image-news/bg-title-after.png);
            }

                .panel-chuyengia .item-chuyengia .item-chuyengia-head .item-chuyengia-img:before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    border-radius: 50%;
                    border: 2px solid #8a7e72;
                    left: -12px;
                    top: -12px;
                }

            .panel-chuyengia .item-chuyengia .item-chuyengia-head .item-chuyengia-content {
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 25.28px;
                color: #FFF;
                position: absolute;
                margin-left: 200px;
                padding-right: 20px;
            }

        .panel-chuyengia .item-chuyengia .item-chuyengia-des {
            position: absolute;
            width: 100%;
            height: calc(100% - 205px);
            bottom: 20px;
            left: 0px;
            padding: 20px;
            overflow: hidden;
            box-sizing: border-box;
        }
