<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="cat-anh" virtualUrl="^~/cat-anh.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cropImage.aspx" ignoreCase="true"/>
      <!--<add name="danh-muc" virtualUrl="^~/(.*)/ct(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/CategoryNews.aspx?Title=$1&amp;CategoryID=$2" ignoreCase="true"/>-->
      <add name="danh-muc-tin-tuc" virtualUrl="^~/(.*)/ct(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/News.aspx?Title=$1&amp;CategoryID=$2" ignoreCase="true"/>
      <add name="noi-dung-tags" virtualUrl="^~/tags(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/NewsPaggingByTags.aspx?TagsID=$1" ignoreCase="true"/>

      <add name="tin-theo-truong-hoc" virtualUrl="^~/(.*)-ns(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/NewsBySchool.aspx?Title=$1&amp;ID=$2" ignoreCase="true"/>

      <add name="gioi-thieu" virtualUrl="^~/gioi-thieu.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/Introduction.aspx" ignoreCase="true"/>
      <add name="hoi-dap" virtualUrl="^~/hoi-dap.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/FAQ.aspx" ignoreCase="true"/>
      <add name="dien-dan" virtualUrl="^~/dien-dan.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/Forum.aspx" ignoreCase="true"/>
      <add name="chi-tiet-thread" virtualUrl="^~/dien-dan/(.*)/(.*)-td(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/ThreadDetails.aspx?SubjectName=$1&amp;Title=$2&amp;ThreadID=$3" ignoreCase="true"/>
      <add name="chi-tiet-tin-tuc" virtualUrl="^~/(.*)/(.*)-c(.*)-n(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/NewsDetails.aspx?CategoryName=$1&amp;Title=$2&amp;CategoryID=$3&amp;NewsID=$4" ignoreCase="true"/>
      <add name="info-login" virtualUrl="^~/info-api-login.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/LoginWithSirenChat.aspx" ignoreCase="true"/>
      <add name="chia-se-cau-chuyen" virtualUrl="^~/chia-se-cau-chuyen.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/post-new-thread.aspx" ignoreCase="true"/>
      <add name="bai-viet-theo-chu-de" virtualUrl="^~/dien-dan/(.*)-s(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/BaiVietTheoChuDe.aspx?SubjectName=$1&amp;SubjectID=$2" ignoreCase="true"/>
      <add name="bai-viet-theo-truong-hoc" virtualUrl="^~/dien-dan/truong-(.*)-th(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/BaiVietTheoTruongHoc.aspx?SchoolName=$1&amp;SchoolID=$2" ignoreCase="true"/>
      <add name="cap-nhat-truong-hoc" virtualUrl="^~/cap-nhat-truong-hoc.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/SelectSchool.aspx" ignoreCase="true"/>
      <add name="lich-su-comment" virtualUrl="^~/lich-su-comment.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/LichSuComment.aspx" ignoreCase="true"/>
      <add name="dang-xuat" virtualUrl="^~/dang-xuat.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/LogOut.aspx" ignoreCase="true"/>
      <add name="read-pdf" virtualUrl="^~/read-pdf-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/OpenFilePdf.aspx?ID=$1" ignoreCase="true"/>
      <add name="tim-kiem" virtualUrl="^~/tim-kiem.htm/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/search.aspx?keysearch=$1" ignoreCase="true"/>
      <add name="quiz" virtualUrl="^~/quiz-(.*)-(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/run-quiz.aspx?title=$1&amp;ID=$2" ignoreCase="true"/>




      <!--<add name="lien-he" virtualUrl="^~/lien-he.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/LienHe.aspx" ignoreCase="true"/>
      <add name="chi-tiet-video" virtualUrl="^~/video/(.*)-v(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/VideoDetails.aspx?Title=$1&amp;VideoID=$2" ignoreCase="true"/>
      <add name="hinh-anh" virtualUrl="^~/hinh-anh.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/AlbumPicture.aspx" ignoreCase="true"/>
      <add name="chi-tiet-hinh-anh" virtualUrl="^~/hinh-anh/(.*)-a(.*).htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/AlbumDetails.aspx?Title=$1&amp;PictureID=$2" ignoreCase="true"/>
      <add name="gop-y" virtualUrl="^~/gop-y.htm$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/View/FeedBack.aspx" ignoreCase="true"/>-->
      <!--<add name="trang-chu" virtualUrl="~/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>-->
    </rewrites>
  </urlrewritingnet>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="sCN" connectionString="Data Source=DUCNGHIA\SQLEXPRESS;Initial Catalog=TodayEnglishCenter;Persist Security Info=True;User ID=sa;Password=DucNghia@123-=" providerName="System.Data.SqlClient" />-->
    <!--<add name="sCN" connectionString="Data Source=DUCNGHIA_PRO-PC\SQLEXPRESS;Initial Catalog=Danangbooking;Persist Security Info=True;User ID=sa;Password=DucNghia@123-=" providerName="System.Data.SqlClient" />-->
    <add name="sCN" connectionString="Data Source=101.99.3.56;Initial Catalog=admin_ask14;Persist Security Info=True;User ID=sa;Password=linhtam123#321" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.web>
    <customErrors mode="Off"/>
    <!--<sessionState mode="InProc" timeout="1440"></sessionState>
    <httpRuntime maxRequestLength="2147483644" executionTimeout="9999999" maxUrlLength="2097151" maxQueryStringLength="2097151"  requestValidationMode="2.0"/>-->
    <sessionState mode="InProc" timeout="1440"></sessionState>
    <httpRuntime maxRequestLength="2147483644" executionTimeout="3600" maxUrlLength="2097151" maxQueryStringLength="2097151" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <remove name="UrlRewriteModule"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
    <handlers>
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader"/>
      <add name="Wildcard" path="*" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="4194304"/>
      <!--<add name="PageHandlerFactory" verb="*" path="*.html" preCondition="integratedMode" type="System.Web.UI.PageHandlerFactory"/>-->
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>